<div class="class">
  <h2>Two way data binding</h2>
  <form>
    <input
      type="text"
      [(ngModel)]="name"
      name="name"
      placeholder="Digite o seu nome"
    />
    <input
      type="number"
      [(ngModel)]="idade"
      name="idade"
      placeholder="Digite a sua idade"
    />
    <input type="submit" value="Enviar" />
  </form>
  <div *ngIf="name !== ''">
    <p>O nome é: {{ name }}</p>
  </div>
  <div *ngIf="idade !== 0">
    <p>Você tem {{ idade }} anos</p>
  </div>
</div>
